{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UMA VEZ FLAMENGO, SEMPRE FLAMENGO</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1> 
        <p class="colore"> vc pensa que o flamengo é time? Flamengo n é time n, time é o vasco da gama, O FLAMENGO É SELEÇÃO</p> 
    </h1>
</body>
</html>